<!--{{var1}}
<div class="clase1">

{{var1}}
  {{var2}}
  {{var2}}
</div>
<button (click)="calcularfecha()">calcular fecha</button>

<h1>
  {{hoy}}
</h1>
<input type="text" class="form-control" [(ngModel)]="nombre" name="nombrenombre">
{{nombre}}-->



<div class="cabecera">Bienvenido {{auth.getNumero()}}  {{numero}}</div>
<button (click)="obtenerservicio()">OBTENER SERVICIO</button>
<div *ngFor="let o of array2">
    <table border="2">
    <thead>
    <tr>
        <th>{{o.id}}</th>
        <th>{{o.nombre}}</th>
        <th>{{o.dni}}</th>
    </tr>
    </thead>
    </table>
</div>
<h1 >{{respuestabackend}}</h1>
<button (click)="mostrarObjeto()" *ngIf="mostrar">Ocultar</button>
<button (click)="mostrarObjeto()" *ngIf="!mostrar">Mostrar</button>
<div    *ngIf="mostrar">
    <li *ngFor = "let Objeto of array">
        {{Objeto}}
    </li>

</div>


<router-outlet></router-outlet>
<div class="footer">final</div>

