<!--{{var1}}
<div class="clase1">

{{var1}}
  {{var2}}
  {{var2}}
</div>
<button (click)="calcularfecha()">calcular fecha</button>

<h1>
  {{hoy}}
</h1>
<input type="text" class="form-control" [(ngModel)]="nombre" name="nombrenombre">
{{nombre}}-->



<div class="cabecera">Bienvenido {{auth.getNumero()}}  {{numero}}</div>

<button (click) ="mostrarobjeto()" *ngIf="!varmostrar">MOSTRAR</button>

<button (click) ="mostrarobjeto()" *ngIf="varmostrar">OCULTAR</button>
<button (click)="obtenerservicio()">OBTENER SERVICIO</button>


<div >

    <table border="2">
        <thead>
            <th>id</th>
            <th>nombre</th>
            <th>dni</th>
        </thead>
        <tbody>
        <tr *ngFor="let objeto of respuestaarray">
            <td>{{ objeto.id }}</td>
            <td>{{ objeto.nombre }}</td>
            <td>{{ objeto.dni }}</td>

        </tr>
        </tbody>
    </table>
</div>

<router-outlet></router-outlet>
<div class="footer">final</div>

