<!--{{var1}}
<div class="clase1">

{{var1}}
  {{var2}}
  {{var2}}
</div>
<button (click)="calcularfecha()">calcular fecha</button>

<h1>
  {{hoy}}
</h1>
<input type="text" class="form-control" [(ngModel)]="nombre" name="nombrenombre">
{{nombre}}-->



<div class="cabecera">Bienvenido {{auth.getNumero()}}  {{numero}}</div>

<button (click) ="mostrarobjeto()" *ngIf="!varmostrar">MOSTRAR</button>

<button (click) ="mostrarobjeto()" *ngIf="varmostrar">OCULTAR</button>


<div *ngIf="varmostrar">
    <li  *ngFor="let objeto of array" >
        {{objeto}}
    </li>
</div>

<router-outlet></router-outlet>
<div class="footer">final</div>
