.clase1{background-color:#00A000; height: 400px; width: 400px}
.cabecera{background-color: #0000cc;height:30px;width: 100%;text-align: center  }

.footer{background-color: #7f7f7f;height:30px;width: 100%;text-align: center  }

.color{
    background-color: #00A000;height:30px;width: 100%;text-align: center
}
